body{
    margin:0;
    padding:0;
    font-family: 'Tauri', sans-serif;
    font-size: 14px;
}

/**header**/
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(246,246,246);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 4rem;
    color:rgb(67,67,67);
    z-index:1000;
}
header div.header-add{
    position: relative;
    top: 35%;
    left: 10%; 
    height: 30px;
}
header div.header-search{
    display: flex;
    height: 30px;
    border:2.5px solid rgb(104,100,109);
    position: relative;
    top: 20%;
    right: 10%;
}
header div.header-search input{
    background-color: rgb(67,67,67);
    border:none;    
    font-family: 'Tauri', sans-serif;    
}
header div.header-search input[type='search']{
    padding-left:10px;
    font-size: 12px;
    color:rgb(246,246,246);
}
::-webkit-input-placeholder {
    color:rgb(246,246,246);
}
header div.header-search input.search-button{
    font-size: 20px;
    color:rgb(104,100,109);
    font-weight: bold;
}
header div.header-search input:focus{
    outline: none;
}


/**container**/
div.albums-container,
div.playlist-container{
    margin:0 auto;
    margin-top:6rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
}

div.albums-container picture.album-pic{
    position: relative;
    padding: 2rem;
    opacity: 0.85;
}
div.albums-container picture.album-pic div.play-container{
    width: 100%;
    position: relative;
    height: 30px;
    text-align: center;
    top: -7.5rem;
}
div.albums-container picture.album-pic div.pic-container{
    width: 100%;
    text-align: center;
}
div.albums-container picture.album-pic div.editor{
    position: relative;
    top: 2rem;
    width: 100%;
    text-align: center;
}
div.albums-container picture figcaption{      
    font-family: 'Carter One', cursive;
    font-size: 1.2rem; 
    text-align: center;
}
div.albums-container picture div.editor button{
    border-radius: 100%;
    color:rgb(67,67,67);
    border:0;
    background-color: rgb(246,246,246);
    width: 20px;
    height: 20px;
}
div.albums-container picture div.editor button:first-child{        
    padding: 0 3.9px 1px 4.9px;
}
div.albums-container picture div.editor button:last-child{        
    transform: rotate(-230deg);
    padding:0 2px 2px 2px;
}
div.albums-container picture img,
div.playlist-container picture img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

div.albums-container picture button.play-unicode,
div.playlist-container picture button.play-unicode{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 23.5px;
    background-color: white;
    padding: 0 0 0 2.5px;
    border:0;
}

picture.album-pic .editor ,
picture.album-pic .play-container{
    visibility: hidden;
}
div.albums-container picture.album-pic:hover,
div.albums-container picture.album-pic:focus{
    opacity: 1;
}
div.albums-container picture.album-pic:hover .editor,
div.albums-container picture.album-pic:hover .play-container,
div.albums-container picture.album-pic:focus .editor,
div.albums-container picture.album-pic:focus .play-container{
    visibility: visible;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
div.header-search input.back-button{
    color: rgb(246,246,246);
    font-size: 15px;
    display: none;
    cursor: pointer;
}    

/**playlist body***/


div.playlist-container div.top{
background-color: lightblue;
    border-radius: 45%;
    width: 60%;
    height: 20rem;
}
div.playlist-container div.top audio{
    width: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 2.5rem;
}
div.playlist-container div.top span{
    display: flex;
    justify-content: center;
    margin: 1rem auto .5rem auto;
    width: 60%;
}
div.playlist-container div.top div.playlist-body{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
div.playlist-container div.top div.playlist-body div.pic-container{
    float: left;
    position: relative; 
}
div.playlist-body div.pic-container div.play-container{
    text-align: center;
    position: absolute;
    top: 5rem;
    width: 100%;
}

div.playlist-container div.playlist-editor{
    display: flex;
    flex-direction: column;
}
div.playlist-container div.playlist-editor button{
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 5px 0;
    margin: 8px;
}
div.playlist-container div.playlist-editor button:last-child{
    transform: rotate(-230deg);
}





/***popup***/

#popup,
#popup1{
        position: fixed;
        top: 0;left: 0;right: 0;bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.75);
        z-index:5000;
        font-family: 'Tauri', sans-serif;
}
#popup_container,
#popup_container1{
        max-width: 100%;
        padding:.5rem 2rem;
        background-color: white;
}
#popup_container1 #containerLeft{
        float: left;
        width: 50%;
}
#popup_container h2,
#popup_container1 h2{
    margin-bottom: .2rem;
    border-bottom: 2px solid lightgray;
    font-weight: 500;
    color: rgb(67,67,67);
    font-size: 20px;
}
#popup_container1 img{
    width: 200px;
    height: 200px;
}
#popup_container1 #containerLeft #containerInput1{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#popup_container #containerInput{
    margin: 1rem;
    display: flex;
}
#popup_container #containerInput label:first-child{
    margin-bottom: .5rem;
}
#popup_container #containerInput label:first-child{
    margin-right: 2rem;
}
#popup_container #containerButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}
#popup_container1 #containerImg{
    float: right;
}
#popup_container1 #containerButton1{
    display: flex;
    justify-content: space-between;
    margin-top: 5.2rem;
}
#popup_container #containerButton button:first-child,
header div.header-add button{
    display: flex;
    flex-direction: row-reverse;
    border: none;
    background-color:inherit;
    font-family: 'Tauri', sans-serif;
}
#popup_container #containerButton button:first-child span,
header div.header-add button span{
    border-radius: 4px;
    background-color: rgb(67,67,67);
    color: white;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    font-size: 11px;
}
header div.header-add button span{
    border-radius: 50%;
}
#popup_container #containerButton button:last-child{
    padding: 5px;
    font-weight: 600;
    color: white;
    background-color: slategrey;
    border: 1px solid gray;
    font-family: 'Tauri', sans-serif;
}

 #popup_container input,
 #popup_container1 input{
    width: 100%;
}

